body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
 
/* <css nav sama footer> */
 
ul{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 67px;
    background-color: #6E5EBE;
    box-shadow:  2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 1%;

}
nav ul
{
    display: flex;
}
nav ul li a{
    margin:35px;
    font-family:Poppins;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 650px;
}

a, a:link, a:visited {
    color: white;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px; 
  }
  
  a::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(90deg, white, white); 
    background-size: 0 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size .3s ease-in; 
  }
  
  a:hover::before {
    background-size: 100% 2px;
  }
  .btn.btn-outline-light {
    align-items: flex-end;
    transition: all300ms ease;
    border-radius: 5px;
    font-size: 14px;
    font-family:Poppins;
  }
  /* <css nav sama footer> */
  .container{
    text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 5;
    font-size: 17px;
    border: 1px solid rgb(0, 0, 0);
    float: right;
    width: 15%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: right;
    width: 3%;
    padding:5;
    background: #2196F3;
    color: grey;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Ilham */
  .item22 {
    position: relative;
    left: 40px;
    width: 70%;
    height: 100vh;
  }
  
  .kotak{
    position: relative;
    left: 100px;
    top: 0px;
    height: 90px;
    border-radius: 20px;
    background-color: rgb(181, 178, 212);
    margin-bottom: px;
    width: 110%;
    padding-left: 20px;
  }
  
  .kotak h1{
    font-size: 28px;
    position: relative;
    padding-top: 25px;
  }
  
  
  .kotak .btn{
    position: relative;
    left: 58rem;
    top: -40px;
    border-radius: 0px;
    background-color: #6E5EBE;
  }
  
  .isi{
    position: relative;
    left: 150px;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .isi div{
    position: relative;
    left: 30px;
    width: 40rem;
    margin-top: 30px;
    border: 1px solid black;
    box-shadow: 1px 3px 5px #6E5EBE;
    border-radius: 20px;
    padding-left: 20px;
  }
  
  .isi div h1{
    font-size: 20px;
  }
  
  .btn1{
    position: relative;
    top: -20px;
    margin-left: 30rem;
    background-color: #6E5EBE;
    border: none;
  }

    /* syawal */
.judul2{
  padding: 0px 21%;
}
.carousel.slide.col-7.mx-auto.mt-10{
  border-radius: 5px;
  border-style: double;
  border-color: #6E5EBE;
}

.container1{
    text-align: center;
    justify-content: center;
    display: flex;
    
}
.containerbox{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    
}
.card1{
  margin: 30px;
  border-radius: 10px;
}
.card-body1{
  background-color: #F7F5FF;
  color: rgb(0, 0, 0);
  
}
.card-body2{
  background-color: #6E5EBE;
  color: #ffff;
}

.btn.btn1{
  background-color: #6E5EBE;
  color: #ffff; 
}
.btn.btn1:hover{
background-color: #ffff;
  color: #6E5EBE;
  border-width: 1px;
  border-color: #6E5EBE;
}
.btn.btn2{
  background-color: #6E5EBE;
  color: #ffff; 
  border-width: 1px;
  border-color: #ffff;
}
.btn.btn2:hover{
background-color: #ffff;
  color: #6E5EBE;
}

.container2{
  display: flex;
  justify-content: center;
  text-align: left;
}
.container3{
  display: flex;
  justify-content: center;
  text-align: left;
}
.container4{
  display: flex;
  justify-content: center;
  text-align: left;
}
.card{
  margin: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #6E5EBE;
}

.caroulsels{
  height: 70vh;
  background-color: #F7F5FF;
  padding: 2% 10% 10%;
}

.box{
  height: 120vh;
  background-color: #F7F5FF;
  padding: 2% 10% 10%;
}
.containerbox{
  background-color: #F7F5FF;}

  .input-group.mb-2{
    width: 80%;
    padding-left: 20%;
  }

  .containerbtn{
    padding-left: 35%;
  }
  .btn.btn-primary{
    margin: 5px;
  }

  .btn.btn-black{
    display: flex;
    padding-left: 9%;

  }


  .kotak5{
    position: relative;
    left: 300px;
  }
  .kotak1 p{
     font-size: 25px;
  }

 .kotak1 input{
     width: 70%;
     height: 50px;
 }

 .kotak3 button{
  position: relative;
  left: 460px;
  width: 90px;
  border-radius: 15px;
  border: none;
  margin-left: 10px;
}
.tmb1{
  background-color: #E2B6B6;
}

.tmb{
  background-color: #B5D0C9;
}

.kotak3 p{
  font-size: 18px;
}

.kotak2 input{
  width: 70%;
  padding-bottom: 90px;
}

.icon{
  position: relative;
  top: 70px;
  left: 0px;
  font-size: 20px;
  width: 25px;
  height: auto;
  border-radius: 5px;
  box-shadow: 1px 5px 5px#6E5EBE;
} 