// Write spesific custom style here
a {
  color: inherit;
}

// Navbar
.navbar {
  & .navbar-brand > img {
    max-height: 2rem;
  }

  .navbar-collapse > ul > li:last-child {
    margin-left: 2rem;
  }
}

// Button
.btn {
  &.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.35rem;
  }
}

.content {
  background-color: var(--bs-primary-softest);
  height: 30vh;
  margin: 3rem 0;
}
